@{
    ViewBag.Title = "Payment Result";
}

<h2>@ViewBag.Message</h2>
<p>Mã Website (Terminal ID): @ViewBag.TerminalID</p>
<p>Mã giao dịch thanh toán: @ViewBag.OrderId</p>
<p>Mã giao dịch tại VNPAY: @ViewBag.VnpayTranId</p>
<p>Số tiền thanh toán (VND): @ViewBag.Amount</p>
<p>Ngân hàng thanh toán: @ViewBag.BankCode</p>
