@model IEnumerable<Ecommerce.Data.Supplier>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().name_company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name_company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id_supplier">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id_supplier">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id_supplier">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
