@model Ecommerce.Data.Product

@{
    ViewData["Title"] = "Delete";
}

<h1>Xác nhận xóa</h1>

<div>
    <h4>Sản phẩm</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2" style="width:150px">
            Tên sản phẩm
        </dt>
        <dd class="col-sm-10" style="width:300px">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2" style="width:150px">
            Hình ảnh
        </dt>
        <dd class="col-sm-10" style="width:300px">
            <img src="~/@Model.url_image"
                 width="80"
                 height="80"
                 style="object-fit: cover"
                 alt="Product Image" />
        </dd>
        <dt class="col-sm-2" style="width:150px">
            Đơn giá
        </dt>
        <dd class="col-sm-10" style="width:300px">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class="col-sm-2" style="width:150px">
            Mô tả
        </dt>
        <dd class="col-sm-10" style="width:300px">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class="col-sm-2" style="width:150px">
            Loại
        </dt>
        <dd class="col-sm-10" style="width:300px">
            @Html.DisplayFor(model => model.Category.name)
        </dd>
        <dt class="col-sm-2" style="width:150px">
            Địa chỉ cung cấp
        </dt>
        <dd class="col-sm-10" style="width:300px">
            @Html.DisplayFor(model => model.Supplier.address)
        </dd>
        <dt class="col-sm-2" style="width:150px">
            Số lượng tồn kho
        </dt>
        <dd class="col-sm-10" style="width:300px">
            @Html.DisplayFor(model => model.quantity_in_stock)
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        @Html.AntiForgeryToken()
        <div class="modal-footer">
            <input type="hidden" asp-for="id_product" />
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Close
            </button>
            <button type="submit" value="Delete" class="btn btn-danger">Delete</button>
        </div>
    </form>
</div>
