@model IEnumerable<Ecommerce.Data.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().quantity_in_stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().url_image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Category.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Supplier.address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantity_in_stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.url_image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.address)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id_product">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id_product">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id_product">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
